<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Consultar Endereço ViaCEP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input labelPlacement="floating" [(ngModel)]="cep" maxlength="8">
      <div slot="label">CEP:</div>
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="consultarEndereco()">Consultar</ion-button>

  <ion-item>
    <ion-input labelPlacement="floating" [(ngModel)]="endereco.logradouro">
      <div slot="label">Logradouro:</div>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="floating" [(ngModel)]="endereco.bairro" >
      <div slot="label">Bairro:</div>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="floating" [(ngModel)]="endereco.localidade" >
      <div slot="label">Cidade:</div>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input labelPlacement="floating" [(ngModel)]="endereco.uf" >
      <div slot="label">Estado:</div>
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="procurarPorEndereco()">Procurar pelo Endereço</ion-button>
</ion-content>
